{% extends "index" %}

{% block content %}
    <main> 
       <!-- Hero Area Start -->
       <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2 class="text-white">Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->


    <div class="container p-5">

        {% set form = craft.freeform.form("contact") %}

        {% if form.submittedSuccessfully %}
          <div>You've successfully submitted this form!</div>
        {% endif %}
        
        {{ form.render }}
        

    
        </div>
    
    

    </main>
{% endblock %}