{% extends "index" %}

{% block content %}
    <main> 
       <!-- Hero Area Start -->
       <div class="slider-area2 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2 class="text-white">Terms of Service</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <div class="about-details p-3">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <p>Welcome to Mr. Rover, a pet services company that provides dog walking, pet training and pet treats to its valued clients. By accessing or using our website, you agree to be bound by the following terms and conditions, as well as any additional terms to which you may agree when using certain elements of our services.</p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <div>
                            <h4 class="p-1">Use of the Website</h4>
                           <p> You agree to use the Mr. Rover website only for lawful purposes. You may not use the website for any harmful or illegal activities. We reserve the right to monitor your usage of the website and terminate your access if we determine that your use is not in compliance with these terms.</p>
                        
                            <h4 class="p-2">Website Content</h4>
                            <p> The content on the Mr. Rover website is for general informational purposes only. Mr. Rover does not guarantee the accuracy, completeness or reliability of any information on the website.</p>
                        
                            <h4 class="p-2">Intellectual Property</h4>
                            <p>The content on the Mr. Rover website, including but not limited to text, logos, images and videos, is protected by copyright and trademark laws. You may not use, reproduce or distribute any content on the website without the prior written consent of Mr. Rover.</p>
                        
                            <h4 class="p-2">Limitation of Liability</h4>
                            <p>Mr. Rover shall not be liable for any damages resulting from the use of the website or its content. This includes, but is not limited to, direct, indirect, incidental, special or consequential damages.</p>
                        
                            <h4 class="p-2">Indemnification</h4>
                            <p> You agree to indemnify and hold harmless Mr. Rover, its employees and agents, from any claims or damages arising from your use of the website or any breach of these terms.</p>
                        
                            <h4 class="p-2">Modification of Terms</h4>
                            <p> Mr. Rover reserves the right to modify these terms of service at any time. Your continued use of the website after any changes have been made signifies your acceptance of the new terms.</p>
                        
                            <h4 class="p-2">Governing Law</h4>
                            <p>  These terms of service shall be governed by and construed in accordance with the laws of the state of [Insert State]. Any disputes arising from the use of the Mr. Rover website shall be subject to the exclusive jurisdiction of the courts of Florida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    </main>
{% endblock %}